<launch>

    <arg name="new_counter" default="True"/>

    <include file="$(find my_project_bringup)/launch/counter_cpp.launch">
        <arg name="number_topic" value="new_number"/>
    </include>

    <node name="num_pub_cpp" pkg="my_project_cpp" type="number_publisher" output="screen"/>

    <group if="$(arg new_counter)">
        <node name="counter_cpp_3" pkg="my_project_cpp" type="counter" output="screen"/>
    </group>

</launch>